@page "/addexcuse"
@using FrontBlazor.Data
@using System.IO;
@using Blazor.FileReader
@inject IFileReaderService fileReaderService;
@inject NavigationManager NavigationManager

    <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Rédiger une excuse</h1>
                </div>
            </div>
        <div class="row justify-content-center">
            <div class="card" style="padding: 10px">
                <form>
                    <EditForm Model="@excuse" OnValidSubmit="SaveExcuse">

                        <div class="form-group">
                            <textarea class="form-control" @bind="excuse.Reason" required placeholder="Raison" />
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="file" class="btn btn-primary" @onchange="@UploadFile" @ref="fileUpload" id="fileUpload" />
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Publier" />
                        </div>

                    </EditForm>
                </form>
            </div>
        </div>
    </div>
    

@code {
    public Excuse excuse { get; set; }

    ElementReference fileUpload;
    string imageData = String.Empty;

    async void UploadFile(ChangeEventArgs changeEventArgs)
    {
        var files = await fileReaderService.CreateReference(fileUpload).EnumerateFilesAsync();

        using (MemoryStream memoryStream = await files.First().CreateMemoryStreamAsync())
        {
            imageData = Convert.ToBase64String(memoryStream.ToArray());
            StateHasChanged();
        }
    }

    private void SaveExcuse()
    {
        ExcuseService _excuseService = new ExcuseService();
        excuse.Date = DateTime.Now;
        excuse.UserID = 1;
        excuse.Image = imageData;
        System.Diagnostics.Debug.Print("OUI" + excuse.Image.ToString());
        _excuseService.AddExcuse(excuse);
        NavigationManager.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        excuse = new Excuse();
    }

}
